---
import TagLayout from "@layouts/TagLayout.astro";
import Tags from "@components/tags.astro";
import Side from "@components/side.astro"
import { getCollection } from "astro:content";
const tagsEntries = await getCollection("blog", ({ data }) => {
  // 如果是不是草稿就显示
  return data.draft === false;
});
// 获取所有唯一标签
// const tags = [...new Set(tagsEntries.map((post) => post.data.tags).flat())];
const tagMap = new Map();
tagsEntries.map((post) => {
  const PostTags = post.data.tags;
  PostTags.map((tagValue) => {
    if (tagMap.has(tagValue)) {
      let count = tagMap.get(tagValue);
      count += 1;
      tagMap.set(tagValue, count);
    } else {
      tagMap.set(tagValue, 1);
    }
  });
});
// page info
const title = "分类";
const description = "分类";
---

<TagLayout title={title} description={description}>
  <main>
    <h1 class="tags_skill">技能</h1>
    <Tags tags={tagMap} />
  </main>
  <Side />
</TagLayout>

<style>
  main {
    width: min(60ch, 80vw);
    margin: 0 auto;
    font-size: 0.75rem;
  }
  .tags_skill {
    font-size: 2rem;
    margin-block-end: 1rem;
  }
  a {
    color: black;
  }
</style>
