---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@components/footer.astro";
import BackTop from "@components/backTop.astro";

const title = "图片集";
const description = "图片集";
---

<BaseLayout title={title} description={description}>
  <main>
    <section class="main_grid">
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/IMG_20210321_184810.jpg" alt="20210321_184810" />
        <figcaption>
          2021-3-21日南昌楼梯独照
          <small>南昌</small>
        </figcaption>
      </figure>
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/mmexport1616329068492.jpg" alt="1616329068492" />
        <figcaption>
          2021-3-21日与好友张合照
          <small>南昌</small>
        </figcaption>
      </figure>
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/mmexport1632743896489.jpg" alt="2021-9-27" />
        <figcaption>
          2021-9-27日现代学院操场拍摄
          <small>南昌</small>
        </figcaption>
      </figure>
      <figure class="landscape" data-src-loaded="false">
        <img data-src="/assets/photoList/mmexport1639204484977.jpg" alt="2021-12-11" />
        <figcaption>
          2021-12-11日寝室毕业合照
          <small>南昌</small>
        </figcaption>
      </figure>
      <figure class="protrait" data-src-loaded="false">
        <img data-src="/assets/photoList/mmexport1661335245227.jpg" alt="2022-8-24" />
        <figcaption>
          2022-8-24日杭州伞博物馆
          <small>杭州</small>
        </figcaption>
      </figure>
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/20230204.jpg" alt="2023-2-4" />
        <figcaption>
          2023-2-4日鄱阳县上士湖鄱阳湖瓦屑坝博物馆湖边
          <small>鄱阳</small>
        </figcaption>
      </figure>
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/IMG_20230218_192205.jpg" alt="2023-2-18" />
        <figcaption>
          2023-2-18日新余学院拍摄
          <small>新余</small>
        </figcaption>
      </figure>
      <figure data-src-loaded="false">
        <img data-src="/assets/photoList/IMG_20230226_153940.jpg" alt="2023-2-26" />
        <figcaption>
          2023-2-26日新余学院图书馆拍摄
          <small>新余</small>
        </figcaption>
      </figure>
      <figure class="landscape" data-src-loaded="false">
        <img data-src="/assets/photoList/IMG_20230305_145530.jpg" alt="2023-3-5" />
        <figcaption>
          2023-3-5日新余学院行政楼(北)湖
          <small>新余</small>
        </figcaption>
      </figure>
      <figure class="protrait" data-src-loaded="false">
        <img data-src="/assets/photoList/IMG_20230313_154713.jpg" alt="2023-3-13" />
        <figcaption>
          2023-3-13日新余学院数计楼
          <small>新余</small>
        </figcaption>
      </figure>
    </section>
  </main>
  <BackTop />
  <footer>
    <Footer />
  </footer>
</BaseLayout>

<style>
  img {
    max-width: 100%;
    display: block;
  }
  main {
    width: min(80ch, 100vw - 2rem);
    margin: 0 auto;
  }
  .main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30vh, auto);
    grid-auto-flow: dense;
    padding: 1rem;
    grid-column-gap: 1rem;
    grid-row-gap: 12rem;
    padding-block: 3rem;
  }
  /* 横板的图片格式 */
  .main_grid .landscape {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
  .main_grid .protrait {
    grid-row: span 2;
  }
  .main_grid img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .main_grid figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    text-align: right;
    right: 0;
    padding-top: 0.625rem;
    font-size: 0.75rem;
  }
  figcaption small {
    display: block;
  }
  @media (max-width: 768px) {
    .main_grid {
      grid-template-columns: 1fr;
    }
    .main_grid .landscape,
    .main_grid .protrait {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  footer {
    margin-block-start: 6.25rem;
  }

  img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5 url("/assets/break.svg") no-repeat center / 50% 50%;
    color: transparent;
}

img::after {
    content: attr(alt);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>

<script>
// 获取需要懒加载的figure元素
const lazyload = document.querySelectorAll('.main_grid figure');
// 创建一个Intersection Observer实例
const observer = new IntersectionObserver(entries => {
  // 遍历所有元素的Intersection Observer entry
  entries.forEach(entry => {
    // 如果元素进入可视区域且未加载过图片
    if (entry.isIntersecting && entry.target.getAttribute('data-src-loaded') === 'false') {
      // 遍历该元素内的所有img标签
      entry.target.querySelectorAll('img').forEach(img => {
        // 将img的data-src赋值给src，加载图片
        img.src = img.dataset.src;
      });
      // 将该元素的data-src-loaded属性设置为true，表示该元素已经加载过图片，避免重复加载
      entry.target.setAttribute('data-src-loaded', 'true');
    }
  });
});
// 遍历所有需要懒加载的元素，开始监听它们的可视区域
lazyload.forEach(lazy => observer.observe(lazy));
</script>