---
import Author from "@components/author.astro";
import Footer from "@components/footer.astro";
import BackTop from "@components/backTop.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "主页";
const description = "主页";
---

<BaseLayout title={title} description={description}>
  <main>
    <Author />
    <div class="container">
      <strong>你好！</strong>
      <p>作为首页我不知道写什么才是最好的！🤔我只能通过我的语言表述一下我的目的以及介绍会写那些东西吧！😊</p>
      <p>回顾这么多年的学习生涯，从开始的彷徨到后来的坚定，再到现在的迷茫！我不知道那条路是最好的，只能不断的尝试找出自己所擅长的，所感兴趣的那个点！</p>
      <p>本次博客采用了Astro框架搭建，使用的技术是SSG，当然了Astro也可以是SSR！这门技术我当时是2021就接触了，当时在github上还只是刚出4个月的产品。两年过去了，产品也变得非常成熟，从我刚开始的接触的版本0.18到现在的2.1，于是我就下定决心开始重构一下博客！☺️</p>
      <p>关于文章!我不仅会写一些技术心得，也会写一些我感兴趣的地方，比如历史人名考究查找之类的文章！没什么刻意的地方都是想到啥写啥，就算没人看，方便自己看也是可以的！</p>
    </div>
  </main>
  <BackTop />
  <footer class="index_footer">
    <Footer />
  </footer>
</BaseLayout>
<style>
  .container {
    margin-inline: auto;
    margin-block-start: max(8vh, 3rem);
    width: min(80ch, 100vw - 2rem);
  }
  .container >strong {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .container p {
    text-indent: 2em;
    line-height: 1.5;
    margin-top: 1em;
  }
  .index_footer {
    margin-block-start: 6.25rem;
  }
</style>
