---
const { slug, title, description, image,pubDate } = Astro.props;
// 模板图片
import post_img from "@src/assets/post_img.webp"
---

<li>
  <a href={`/blog/${slug}`} rel="noopener noreferrer">
    <div class="lis">
      <img data-img src={image.url == "" ? post_img : image.url} alt={image.alt == "" ? "template photo" : image.alt} />
      <div class="lis_content">
        <h1>{title}</h1>
        <p>{description}</p>
      </div>
      <span class="lis_time">发布时间:{pubDate}</span>
    </div>
  </a>
</li>
<div class="hr"></div>

<style>
  li {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0.5rem;
    transition: all 0.15s;
    list-style: none;
  }
  li:hover {
    transform: scale(102%);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  li > a {
    color: currentColor;
  }
  .lis {
    display: flex;
    max-width: 80rem;
    gap: 1rem;
    padding: 1rem;
    position: relative;
  }
  .lis_time {
    font-size: 0.5rem;
    font-weight: 700;
    position: absolute;
    bottom: .3rem;
    right: .4rem;
  }
  .lis [data-img] {
    display: block;
    vertical-align: top;
    /* 这个为了宽屏展示图片信息 */
    width: 10rem;
    max-height: 5rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .lis_content > h1 {
    font-weight: 800;
  }
  .lis_content > p {
    font-size: 0.6rem;
  }

  .hr {
    margin: 0 auto;
    padding-block: 0.0625rem;
    background-color: #e8e9eb;
  }
  @media screen and (max-width: 650px) {
    .lis {
      flex-direction: column;
    }
    .lis [data-img] {
      /* 为了窄屏幕展示图片信息 */
      width: auto;
      max-height: 10rem;
    }
  }
</style>
