---
import Hamburger from "./Hamburger.astro";
---

<div class="nav">
  <Hamburger class="Hamburger" />
  <div data-nav>
    <ul class="nav_ul">
      <li class="nav_li"><a href="/">主页</a></li>
      <li class="nav_li"><a href="/blog">文章</a></li>
      <li class="nav_li"><a href="/about">图片集</a></li>
      <li class="nav_li"><a href="/tags">分类</a></li>
    </ul>
  </div>
</div>

<style>
  .nav {
    font-size: 1rem;
    padding: 1.5rem 0 3rem;
    box-sizing: border-box;
    /* padding: .5rem 1rem; */
    color: rgb(63 63 70);
    transition: all 0.3s;
  }
  .nav_ul {
    display: flex;
    justify-content: center;
  }
  .nav_li {
    margin: 0 0.25rem;
    line-height: normal;
  }
  .nav_li > a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: text-underline-offset 0.2s;
  }
  .nav_li > a:hover {
    text-underline-offset: 0.125rem;
  }
  .Hamburger {
    display: none;
    margin-left: 1rem;
  }

  @media screen and (max-width: 600px) {
    [data-nav] {
      display: none;
    }
    .nav_ul {
      flex-direction: column;
      text-align: center;
    }
    .nav_li {
      padding-block-end: 1rem;
    }
    .nav_li + .nav_li {
      padding-block-end: 1rem;
    }
    .nav_li a {
      font-size: 2rem;
    }

    .Hamburger {
      display: block;
    }
  }
  /* 这个css必须放到后面 */
  .expanded {
    display: unset;
  }
</style>
<script>
  let flag = 0;
  let Hamburger = document.querySelector(".Hamburger");
  let dataNav = document.querySelector("[data-nav]");
  let nav = document.querySelector(".nav");
  Hamburger.addEventListener("click", () => {
    dataNav.classList.toggle("expanded");
    if (flag == 0) {
      nav.style.backgroundColor = "rgb(254, 207, 72, .2)";
      flag = 1;
    } else {
      nav.style.backgroundColor = "inherit";
      flag = 0;
    }
  });

  // 定义节流函数
  function throttle(func, delay) {
    let timer = null;
    return function () {
      const context = this;
      const args = arguments;
      if (!timer) {
        timer = setTimeout(function () {
          func.apply(context, args);
          timer = null;
        }, delay);
      }
    };
  }
  /**
   * 清除nav背景
   */
  function clearNavBg() {
    if (window.innerWidth > 600) {
      nav.style.background = "none";
    }
  }
  // 在窗口大小发生变化时，动态获取窗口宽度并清除元素的背景样式
  window.addEventListener("resize", throttle(clearNavBg, 500));
  // 页面加载完成时，先执行一次事件处理程序
  clearNavBg();
</script>
