---
import Hamburger from "./Hamburger.astro";
---

<div class="nav">
  <div class="Hamburger">
    <Hamburger />
  </div>
  <div data-nav>
    <ul class="nav_ul">
      <li class="nav_li"><a href="/">主页</a></li>
      <li class="nav_li"><a href="/blog">文章</a></li>
      <li class="nav_li"><a href="/about">图片集</a></li>
      <li class="nav_li"><a href="/tags">分类</a></li>
    </ul>
  </div>
</div>

<style>
  .nav {
    font-size: 1rem;
    padding: 1.5rem 0 3rem;
    box-sizing: border-box;
    /* padding: .5rem 1rem; */
    color: rgb(63 63 70);
    transition: all .3s;
  }
  .nav_ul {
    display: flex;
    justify-content: center;
  }
  .nav_li {
    margin: 0 0.25rem;
    line-height: normal;
  }
  .nav_li > a{
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: text-underline-offset .2s;
  }
  .nav_li > a:hover {
    text-underline-offset: 0.125rem;
  }
  .Hamburger {
    display: none;
    margin-left: 1rem;
  }

  @media screen and (max-width: 600px) {
    [data-nav] {
      display: none;
    }
    .nav_ul {
      flex-direction: column;
      text-align: center;
    }
    .nav_li {
      padding-block-end: 1rem;
    }
    .nav_li + .nav_li {
      padding-block-end: 1rem;
    }
    .nav_li a {
      font-size: 2rem;
    }
    
    .Hamburger {
      display: block;
    }
  }
  /* 这个css必须放到后面 */
  .expanded {
    display: unset;
  }
</style>
<script>
  let flag = 0;
  document.querySelector('.Hamburger').addEventListener('click', () => {
    document.querySelector("[data-nav]").classList.toggle("expanded");
    if (flag == 0) {
      document.querySelector(".nav").style.backgroundColor="rgb(254, 207, 72, .2)";
      flag = 1;
    } else {
      document.querySelector(".nav").style.backgroundColor="inherit";
      flag = 0;
    }
  });
</script>