---
---

<div class="siderIndex">
  <a href="https://github.com/Jinmark-kai" target="_blank" aria-label="Github" title="Github">
    <svg aria-label="github" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      ><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
        fill="#000000"></path>
    </svg>
  </a>
  <a href="https://codepen.io/cai_kai/" target="_blank" aria-label="codepen" title="codepen">
    <svg
      aria-label="codepen"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="2768"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="24"
      height="24"
      ><path
        d="M1023.435782 350.298852l-0.341213-1.961976a44.016503 44.016503 0 0 0-0.76773-3.668041l-0.725078-2.132583a53.954337 53.954337 0 0 0-2.132582-5.331456 22.733329 22.733329 0 0 0-1.492808-2.900312c-0.341213-0.725078-0.810381-1.407504-1.236898-2.04728a30.837143 30.837143 0 0 0-3.326829-4.606378 39.239518 39.239518 0 0 0-2.217885-2.388492l-1.706066-1.706066a72.934321 72.934321 0 0 0-2.559099-2.132583l-1.961976-1.492807c-0.25591-0.127955-0.469168-0.383865-0.725078-0.51182L536.396594 7.507543a44.016503 44.016503 0 0 0-48.793488 0L19.799812 319.419058c-0.25591 0.127955-0.51182 0.383865-0.767729 0.554471a39.495428 39.495428 0 0 0-4.478424 3.625391c-0.597123 0.469168-1.151595 1.108943-1.706066 1.663414a30.666536 30.666536 0 0 0-3.753345 4.265165 39.580731 39.580731 0 0 0-3.070919 4.776985 35.486173 35.486173 0 0 0-1.535459 2.900312l-0.938336 2.132582a38.130575 38.130575 0 0 0-1.151595 3.198874l-0.682426 2.132583a44.016503 44.016503 0 0 0-0.76773 3.710693c-0.127955 0.639775-0.298562 1.236898-0.341213 1.919324a41.969223 41.969223 0 0 0-0.426517 5.715321v311.868863c0 1.919324 0.170607 3.838648 0.426517 5.757973 0.042652 0.597123 0.213258 1.279549 0.341213 1.876672 0.213258 1.279549 0.426516 2.473796 0.76773 3.710694l0.682426 2.132582c0.341213 1.066291 0.682426 2.132582 1.151595 3.241526l0.938336 2.132582c0.469168 0.980988 0.980988 1.919324 1.535459 2.900313 0.426516 0.682426 0.810381 1.364853 1.27955 2.004627a38.898305 38.898305 0 0 0 7.25078 8.700937 39.495428 39.495428 0 0 0 4.478424 3.582738c0.298562 0.170607 0.51182 0.426516 0.767729 0.554472l467.803294 311.911514a43.931199 43.931199 0 0 0 48.793488 0l467.845946-311.911514c0.25591-0.127955 0.469168-0.383865 0.725078-0.51182l2.004627-1.53546a72.934321 72.934321 0 0 0 2.473796-2.132582c0.597123-0.51182 1.151595-1.108943 1.706066-1.706066a38.642395 38.642395 0 0 0 5.587366-6.952219l1.27955-2.004627a31.988737 31.988737 0 0 0 1.492807-2.942964l0.980988-2.132583c0.426516-1.066291 0.76773-2.132582 1.108943-3.198874l0.725078-2.132582 0.76773-3.710694 0.341213-1.876672a43.504683 43.504683 0 0 0 0.383865-5.757973V356.014173a41.969223 41.969223 0 0 0-0.383865-5.715321z m-467.462081-223.963812l344.62533 229.721785-153.887152 102.961082-190.738178-127.528432v-205.154435z m-87.947702 0v205.154435l-190.695526 127.528432-153.972455-102.961082 344.62533-229.721785z m-379.855592 311.996817L198.211663 511.948605l-110.041256 73.616747v-147.233495z m379.855592 459.230313l-344.62533-229.721785 153.929804-102.961083 190.652875 127.528433v205.154435zM511.99985 616.01863L356.449284 511.948605 511.99985 407.878579 667.593068 511.948605 511.99985 616.01863z m43.973851 281.54354v-205.154435l190.738178-127.528433 153.929803 102.961083-344.625329 229.721785z m379.855592-311.996818L825.830689 511.948605l110.041256-73.616748v147.233495z"
        fill="#0B0B0A"
        p-id="2769"></path></svg
    >
  </a>
  <a href="/rss.xml" target="_blank" aria-label="RSS Feed" title="RSS Feed">
    <svg aria-label="rss" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
        d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
        fill="#000000"></path><circle cx="6" cy="18" r="2"></circle>
    </svg>
  </a>
  <a href="mailto:ch_kaijack@outlook.com" aria-label="Email" title="Email">
    <svg aria-label="email" class="icon" width="24px" height="24px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M1024.00144 220.64v574.32c0 5.76-0.736 11.456-1.824 17.072v0.064l-0.224 0.944A84.336 84.336 0 0 1 939.29744 880H101.08944a102.72 102.72 0 0 1-82.512-40.832 95.904 95.904 0 0 1-18.56-57.248V236.256a74.08 74.08 0 0 1 52.064-70.784l0.736-0.208 0.208-0.08A127.648 127.648 0 0 1 89.66544 160h883.424c1.328 0.512 2.64 1.232 4.032 1.44 25.52 4.32 40.592 19.152 45.344 44.496v0.08c0.88 4.816 1.536 9.712 1.536 14.608zM512.00144 591.232l451.152-379.472c-66.272-3.888-888.48-1.728-897.84 2.368L512.00144 591.2v0.064z m133.856-45.152l-114.112 96.144c-13.76 11.52-25.6 11.664-39.2 0.208l-48.272-40.752-63.84-53.936L81.02544 825.28l1.024 2.304h873.328L645.79344 546.08h0.064z m-304.864-31.68L51.79344 270.032v512.48l289.28-268.096h-0.08z m344.352-1.648l287.088 260.96V270.944L685.34544 512.768z"
        fill="#000000"></path></svg
    >
  </a>
  <a href="https://gitee.com/kai_kaibb" target="_blank" rel="noopener noreferrer" aria-label="gitee" title="gitee">
    <svg aria-label="gitee" class="icon" width="24px" height="24px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M512 1024C229.222 1024 0 794.778 0 512S229.222 0 512 0s512 229.222 512 512-229.222 512-512 512z m259.149-568.883h-290.74a25.293 25.293 0 0 0-25.292 25.293l-0.026 63.206c0 13.952 11.315 25.293 25.267 25.293h177.024c13.978 0 25.293 11.315 25.293 25.267v12.646a75.853 75.853 0 0 1-75.853 75.853h-240.23a25.293 25.293 0 0 1-25.267-25.293V417.203a75.853 75.853 0 0 1 75.827-75.853h353.946a25.293 25.293 0 0 0 25.267-25.292l0.077-63.207a25.293 25.293 0 0 0-25.268-25.293H417.152a189.62 189.62 0 0 0-189.62 189.645V771.15c0 13.977 11.316 25.293 25.294 25.293h372.94a170.65 170.65 0 0 0 170.65-170.65V480.384a25.293 25.293 0 0 0-25.293-25.267z"
        fill="#000000"></path></svg
    ></a
  >
  <!-- <a
    href="https://www.douyin.com/user/MS4wLjABAAAAandiQjFPLuqfZlCrmuGV_ol9_vv5SMfARFUV8EIRr9cTdRx_NVODmpwYnTKKQ02Q"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="douyin"
    title="douyin"
  >
    <svg aria-label="douyin" class="icon" width="24px" height="24px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M899.982222 233.585778c0-60.512711-49.055289-109.568-109.568-109.568H233.585778c-60.512711 0-109.568 49.055289-109.568 109.568v556.828444c0 60.513849 49.055289 109.568 109.568 109.568h556.828444c60.512711 0 109.568-49.054151 109.568-109.568V233.585778zM766.862222 462.450916c-50.062222 0.559787-96.711111-14.576071-137.671111-42.607503v196.778667c0 87.457564-59.865316 162.583893-144.519395 182.204871-115.491271 26.348658-213.25824-57.183573-225.589476-156.973511-12.894436-99.792213 50.74944-187.250916 148.297956-206.873031 19.061191-3.923058 47.730916-3.923058 62.522026-0.559787v105.396907c-4.551111-1.118436-8.813227-2.241422-13.297209-2.801209-38.12352-6.728818-75.046684 12.332373-90.18368 47.091484-15.135858 34.761387-5.005084 75.124053 25.828694 98.67264 25.787733 20.181902 54.400569 22.983111 83.552711 9.527752 29.15328-12.89216 44.82048-36.438471 48.182613-68.394098 0.560924-4.482844 0.530204-9.530027 0.530205-14.576071v-378.424889c0-10.651876 0.083058-10.184249 10.734933-10.184249h83.533369c6.167893 0 8.411591 0.885191 8.972515 8.177209 4.481707 65.031964 53.856711 120.416711 117.20704 128.827164 6.72768 1.120711 13.93664 1.564444 21.901085 2.124231l-0.002276 102.593423z"
        fill="#000000"></path></svg
    >
  </a> -->
</div>

<style>
  .siderIndex {
    display: flex;
    place-content: center;
    gap: 0.8rem;
    margin-block: 0.8em;
  }
  .siderIndex a {
    transition: all 0.3s;
  }
  .siderIndex a:hover {
    transform: scale(1.2);
  }
</style>
