---
const { tags } = Astro.props;
const arr = [];
for (const [key, value] of tags.entries()) {
  arr.push([key, value]);
}
---

<div class="tags">
  {
    arr.map((tag) => (
      <p class={`tag `}>
        <a href={`/tags/${tag[0]}`}>{tag[0]}<span>({tag[1]})</span></a>
      </p>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .tag a {
    color: initial;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
  .tag a span {
    color: #434356;
    font-size: .7rem;
  }
  .tag:hover {
    text-decoration: underline;
  }
  .tag::before {
    content: "#";
    font-size: 1rem;
  }
</style>
