---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
     li ul {
        padding-left: 0.625rem;
    }
    li {
        color: #4B3815;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    a {
        color: inherit;
    }
    .table_active {
        outline: 1px dashed;
    }
</style>
